
.class_shopping_table_container {
    /* height: 600px;
    overflow: auto; */
    width: 60%;
}

.class_shopping_td_image_container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.class_shopping_items_container td img {
    max-width: 100px;
    /* height: 100px; */
    /* object-fit: cover; */
}

.class_shopping_items_container td {
    vertical-align: middle;
    /* justify-content: end; */
    white-space: nowrap;
}

.class_shopping_item_delete {
    font-size: 20px;
    cursor: pointer;
}

.class_shopping_item_amount {
    padding: 10px;
    /* height: 50px; */
    /* width: 500px;  */
    /* width: 250px !important; */
}